{include file='common/top'}

<main>
    {include file='common/banner'}
    <div class="cabinet_head">
        <div>
            <label>激活</label>
            <p>激活券</p>
            <span>BEST</span>
        </div>
        <span>激活会员需要购买激活券哦！</span>
    </div>
    <div class="activate_box">
        <div class="ticket">
            <div class="ticket_head">
                <span>激活券</span>
                <img src="__IMG__/rmb.png">
            </div>
            <p>第一次激活需要1张激活券，重新激活需要2张</p>
        </div>
        <div class="ticket_price">
            <p>
                售价：
                <span>200 积分</span>
            </p>
            <button type="button" onclick="javascript:$('.payment').show();">立即购买</button>
        </div>
    </div>
</main>
<!--输入密码-->
<div class="payment">
    <div class="payment_title">
        <span>输入密码</span>
        <img src="__IMG__/cancel.png" onclick="cancel_pay()">
    </div>
    <div class="payment_pwd">
        <input type="password" id="pay_pwd">
    </div>
    <div class="payment_btn">
        <button type="button" onclick="ticket()">支付</button>
    </div>
</div>
<script type="text/javascript" src="__JS__/jquery.min.js" ></script>
<script type="text/javascript" src="__JS__/bootstrap.min.js" ></script>
<script type="text/javascript" src="__LAYUI__/layui.js"></script>
<script type="text/javascript" src="__JS__/common.js" ></script>
<script type="text/javascript" src="__JS__/store.js"></script>
{include file='common/bottom'}
<script>
    setNav(1);
    setStoreNav(2);
</script>

