{include file='common/top'}

<main>
    <div class="cabinet_head">
        <div>
            <label>商品</label>
            <p>购物车</p>
            <span>BEST</span>
        </div>
        <span>抓紧时间去结算哦</span>
    </div>
    <div class="shopCart_subhead">
        <div class="shopCart_nav">
            <div class="allItem">全部商品</div>
            <div class="clearing">
                <span>已选商品（不含运费）</span>
                <p class="red"><span>200</span>消费券</p>
                <button type="button" onclick="clearing()">结算</button>
            </div>
        </div>
    </div>
    <!--顶部全选-->
    <div class="shopNav">
        <input type="checkbox" name="all" id="navAll1">
        <label for="navAll1" class="navAll1"></label>
        <span class="ctrl1">全选</span>
        <span class="ctrl2">商品信息</span>
        <span class="ctrl3">单价</span>
        <span class="ctrl4">数量</span>
        <span class="ctrl5">金额</span>
        <span class="ctrl6">操作</span>
    </div>

    <!--商品详情-->
    <div class="clear_shop">
        <div class="clearShop_box">
            <input type="checkbox" name="shop" id="shop1" value="0">
            <label for="shop1" class="shop1"></label>
            <img src="__IMG__/show1.jpg">
            <div class="shop_name">
                <p>法国梧桐Realmadrid红酒</p>
                <span>红酒美味无限</span>
            </div>
            <div class="shop_price">
                <s>
                    <span>400</span>
                    <span>消费券</span>
                </s>
                <p>
                    <span>200</span>
                    <span>消费券</span>
                </p>
            </div>
            <div class="shop_num">
                <div>
                    <button type="button" onclick="cart_menus(this)">-</button>
                    <input type="number" id="shopNum1" min="1" max="5" value="1">
                    <button type="button" onclick="cart_add(this)">+</button>
                </div>
                <span>限购5件</span>
            </div>
            <div class="total_price">
                <span>200</span>
                <dd>消费券</dd>
            </div>
            <button type="button" class="delete" onclick="del()">删除</button>
        </div>
    </div>
    <!--商品详情-->
    <div class="clear_shop">
        <div class="clearShop_box">
            <input type="checkbox" name="shop" id="shop2" value="1">
            <label for="shop2" class="shop2"></label>
            <img src="__IMG__/show1.jpg">
            <div class="shop_name">
                <p>法国梧桐Realmadrid红酒</p>
                <span>红酒美味无限</span>
            </div>
            <div class="shop_price">
                <s>
                    <span>400</span>
                    <span>消费券</span>
                </s>
                <p>
                    <span>200</span>
                    <span>消费券</span>
                </p>
            </div>
            <div class="shop_num">
                <div>
                    <button type="button" onclick="cart_menus(this)">-</button>
                    <input type="number" id="shopNum2" min="1" max="5" value="1">
                    <button type="button" onclick="cart_add(this)">+</button>
                </div>
                <span>限购5件</span>
            </div>
            <div class="total_price">
                <span>200</span>
                <dd>消费券</dd>
            </div>
            <button type="button" class="delete" onclick="del()">删除</button>
        </div>
    </div>

    <!--底部全选-->
    <div class="total_clear">
        <div class="totalBox">
            <div class="totalBox_left">
                <input type="checkbox" name="all" id="navAll2">
                <label for="navAll2" class="navAll2"></label>
                <span>全选</span>
            </div>
            <div class="totalBox_right">
                <span class="shopNum">已选商品<b>1</b>件</span>
                <span>合计（不含运费）：</span>
                <div class="clear_price">
                    <span>200</span>
                    <dd>消费券</dd>
                </div>
                <button type="button" onclick="clearing()">结算</button>
            </div>
        </div>
    </div>

</main>

{include file='common/bottom'}
<script type="text/javascript" src="__JS__/jquery.min.js" ></script>
<script type="text/javascript" src="__JS__/bootstrap.min.js" ></script>
<script type="text/javascript" src="__LAYUI__/layui.js"></script>
<script type="text/javascript" src="__JS__/common.js" ></script>
<script type="text/javascript" src="__JS__/store.js"></script>
<script type="text/javascript" src="__JS__/shopCart.js"></script>
<script>
    setNav(1);
</script>

