{include file='common/top'}

<main>
    <div class="cabinet_head">
        <div>
            <label>商品</label>
            <p>购物车</p>
            <span>BEST</span>
        </div>
        <span>抓紧时间去结算哦</span>
    </div>
    <div class="shopCart_subhead">
        <div class="shopCart_nav">
            <div class="allItem">全部商品</div>
            <div class="clearing">
                <span>已选商品（不含运费）</span>
                <p class="red"><span name = "total_money">-</span>消费券</p>
                <button type="button" onclick="clearing()">结算</button>
            </div>
        </div>
    </div>

    <form class="shop_table">
        <table>
            <thead>
            <tr>
                <th class="padding_l">
                    <input type="checkbox" name="all" id="navAll0">
                    <label for="navAll0" class="navAll1"></label>
                </th>
                <th>
                    <span>全选</span>
                    商品信息
                </th>
                <th>单价</th>
                <th>数量</th>
                <th>金额</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name = "user_order" id = "order" key = "key"}
            <tr>
                <td class="padding_l">
                    <input type="checkbox" name="shop" id="shop{$key}" value="{$order.order_number}" onchange="check_(this)">
                    <label for="shop{$key}"></label>
                </td>
                <td class="flex">
                    <img src="{$order.detail_pic}" class="goods_img">
                    <div class="shop_name">
                        <p>{$order.name}</p>
                        <span>{$order.remarks}</span>
                    </div>
                </td>
                <td>
                    <div class="shop_price">
                        <s>
                            <span>{$order.original_price}</span>
                            <span>消费券</span>
                        </s>
                        <p>
                            <span>{$order.price}</span>
                            <span>消费券</span>
                        </p>
                    </div>
                </td>
                <td>
                    <div class="shop_num">
                        <div>
                            <input type="hidden" name = "order_num"  readonly value="{$order['order_number']}">
                            <input type="hidden" value="{$order['price']}">
                            <button type="button"  onclick="clear_menus(this,{$key})">-</button>
                            <input type="number" class = "shop{$key}" oninput="num(this,{$key})" name="number" value="{$order['g_number']}">
                            <button type="button" onclick="clear_add(this,{$key})">+</button>
                            <input type="hidden" value="{$order['number']}">
                        </div>
                        <span>限购{$order.number}件</span>
                    </div>
                </td>
                <td>
                    <div class="total_price">
                        <span  id="total{$key}">{$order.money}</span>
                        <dd>消费券</dd>
                    </div>
                </td>
                <td class="padding_r">
                    <button type="button" class="delete" onclick="del({$order['order_number']})">删除</button>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </form>
    <center>{$page}</center>
    <!--收货信息-->
    <div class="recipients">
        <div class="rec_box">
            <div class="rec_title">
                <span>收货信息：</span>
                <img src="__IMG__/next.png">
            </div>
            <div class="rec_details">
                <span>姓名：{$user_info[0]['username']}</span>
                <span>电话：{$user_info[0]['tel']}</span>
                <span>收货地址：{$user_info[0]['address']}</span>
                <a href="#">编辑</a>
            </div>
        </div>
        <!--<div class="freight">-->
            <!--<span>运费：</span>-->
            <!--<p><span>10</span>元</p>-->
        <!--</div>-->
    </div>

    <!--输入密码-->
    <div class="payment">
        <div class="payment_title">
            <span>输入密码</span>
            <img src="__IMG__/cancel.png" onclick="cancel_pay()">
        </div>
        <div class="payment_pwd">
            <input type="password" id="pay_pwd">
        </div>
        <div class="payment_btn">
            <button type="button" onclick="clearing()">支付</button>
        </div>
    </div>

    <!--底部全选-->
    <div class="total_clear">
        <div class="totalBox">
            <div class="totalBox_left">
                <input type="checkbox" name="all" id="navAll2">
                <label for="navAll2" class="navAll2"></label>
                <span>全选</span>
            </div>
            <div class="totalBox_right">
                <span class="shopNum">已选商品<b>1</b>件</span>
                <span>合计（不含运费）：</span>
                <div class="clear_price">
                    <span name = "total_money">-</span>
                    <dd>消费券</dd>
                </div>
                <button type="button" onclick="submit_order()">结算</button>
            </div>
        </div>
    </div>

</main>

<script type="text/javascript" src="__JS__/jquery.min.js" ></script>
<script type="text/javascript" src="__JS__/bootstrap.min.js" ></script>
<script type="text/javascript" src="__LAYUI__/layui.js"></script>
<script type="text/javascript" src="__JS__/common.js" ></script>
<script type="text/javascript" src="__JS__/store.js"></script>
<script type="text/javascript" src="__JS__/shopCart.js"></script>
<script type="text/javascript" src="__JS__/clear.js"></script>
<script>
    setNav(1);
</script>
{include file='common/bottom'}

