{include file='common/top'}

<main>

    {include file='common/banner'}

    <div class="cabinet_head">
        <div>
            <label>修改信息</label>
            <p>修改券</p>
            <span>BEST</span>
        </div>
        <span>修改个人信息需要修改券</span>
    </div>
    <div class="activate_box">
        <div class="ticket">
            <div class="ticket_head">
                <span>修改券</span>
                <img src="__IMG__/rmb.png">
            </div>
            <p>修改个人信息需要修改券才能修改</p>
        </div>
        <div class="ticket_price">
            <p>
                售价：
                <span>{$vou_price.price} 积分</span>
            </p>
            <button type="button" onclick="javascript:layer.confirm('将消耗 {$vou_price.price} 静态积分购买修改券',function (){buy_tickets('buy_change')})">立即购买</button>
        </div>
    </div>
</main>

{include file='common/bottom'}
<script type="text/javascript" src="__JS__/jquery.min.js" ></script>
<script type="text/javascript" src="__JS__/bootstrap.min.js" ></script>
<script type="text/javascript" src="__LAYUI__/layui.js"></script>
<script type="text/javascript" src="__JS__/common.js" ></script>
<script type="text/javascript" src="__JS__/store.js"></script>
<script>
    setNav(1);
    setStoreNav(2);
</script>

