{include file='common/top'}

<main>
    {include file='common/banner'}

    <!--分类列表-->
    <div class="headline">
        <!--<ul class="all-sale">
            <li><a href="#">生活/办公</a></li>
            <li><a href="#">数码/手机</a></li>
            <li><a href="#">食品/百货</a></li>
            <li><a href="#" class="red">烟酒/副食</a></li>
            <li><a href="#">鞋靴/箱包</a></li>
            <li><a href="#">男装/女装</a></li>
            <li><a href="#">工具/五金</a></li>
            <li><a href="#">眼镜/手表</a></li>
            <li><a href="#">美妆/洗护</a></li>
            <li><a href="#" style="font-weight: 600;">...</a></li>
        </ul>-->
    	<ul class="all-sale">
	        {volist name="classify" id="classify" key="$key"}
	    		<li><a href = "classify?classify={$classify.id}">{$classify.name}</a></li>
	        {/volist}
            <li><a href="#" style="font-weight: 600;">...</a></li>
            <li><a href="#" style="font-weight: 600;">...</a></li>
    	</ul>
    </div>
    <!--商品展示-->
    <div class="container">
        {volist name="goods_detail" id="goods" key="key"}
		    <div class="show3 col-md-4">
		        <a href="detail?id={$goods.gid}"><img src="{$goods.detail_pic}"></a>
		        <div class="buyBox">
		            <div>
		                <p>售价：<span>{$goods.price}</span> <span>消费券</span></p>
		            </div>
		            <button type="button" >立即购买</button>
		        </div>
		    </div>
        
        {/volist}
    </div>
   <center> {$pages}  </center>
    <!--分页-->
    <!--<ul class="page">
        <li><a href="#"><</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">...</a></li>
        <li><a href="#">></a></li>
    </ul>-->
</main>

<script type="text/javascript" src="__JS__/jquery.min.js" ></script>
<script type="text/javascript" src="__JS__/bootstrap.min.js" ></script>
<script type="text/javascript" src="__LAYUI__/layui.js"></script>
<script type="text/javascript" src="__JS__/common.js" ></script>
<script type="text/javascript" src="__JS__/store.js"></script>
{include file='common/bottom'}
<script>
    setNav(1);
    setStoreNav(1);
</script>
<!--<script type="text/javascript">
	function get_appoint_goods(type_id)
	{
		if(isNaN(type_id))
		{
			return false;
		}
		var data = {
			'type':1,
			'classify':type_id
		}
		$.ajax({
			type:"post",
			data:data,
			url:"get_goods_by_type",
			success:function(result){
				result = JSON.parse(result);
//				console.log(result['data']['goods']['data']);
//					console.log(result);
					$(".cabinet2").html('');	
				var html = '';
				for(var i = 0;i<result['data']['goods']['data'].length;i++){
					if(parseInt(i/3) == 0){
						html = '<div class="show3">'+
							'<img src="'+
//							result['data']['goods']['data'][i]['picture']+
							'" onclick="item()"><div class="buyBox"><div><p>售价：<span>'+
							result['data']['goods']['data'][i]['original_price']+
							'</span> <span>消费券</span></p></div><button type="button" onclick="buy()">立即购买</button></div></div>';
						$(".cabinet2").append(html);
					}
//					console.log(result['data']['goods']['data'][i]['original_price']);
				}
				console.log(result['data']['page']);
				$(".cabinet2").after(result['data']['page']);
			},
			error:function(result){
				result = JSON.parse(result);
				console.log(result);
			},
			async:true
		});
		
	}
</script>-->

