{include file='common/top'}
<link rel="stylesheet" href= "__STATIC__/ace/css/item.css">
<main>
    <!--面包屑导航-->
    <div class="crumbs">
        <div>
            <a href="store.html">商城首页</a>
            <img src="__IMG__/next.png">
            <a href="feature.html">特色专区</a>
            <img src="__IMG__/next.png">
            <a href="#">红酒</a>
            <img src="__IMG__/next.png">
            <a href="#">法国梧桐红酒</a>
        </div>
    </div>
    <div class="goods">
        <!--左边大图-->
        <div class="goods_left">
            <div class="gallery">
                <img src="{$pics[0]}" id="gallery">
            </div>
            <div class="thumb">
                <!--<img src="__IMG__/show1.jpg" onclick="addShow(this)">-->
                {volist name="pics" id="p" }
                	<img src="{$p}" onclick="addShow(this)">
                {/volist}
            </div>
        </div>
        <!--右边操作-->
        <div class="goods_right">
            <div class="goods_names">{$goods_detail.name}</div>
            <input type="hidden" id="gid" value="{$goods_detail.gid}">
            <div class="goods_price">
                售价：
                <label class="red">{if condition = "$goods_detail.area_type eq 1"}1{else}{$goods_detail.original_price}{/if}</label>
                <small class="red">{if condition = "$goods_detail.area_type eq 1"}张_优惠券{else}消费券{/if}</small>
                <s>
                    <span>{if condition = "$goods_detail.area_type eq 1"}{else}{$goods_detail.original_price}{/if}</span>
                    <span>{if condition = "$goods_detail.area_type eq 1"}{else}消费券{/if}</span>
                </s>
            </div>
            <div class="goods_num">
                数量
                <button type="button" id="minus">-</button>
                <input type="number" oninput="input_number(this.value)" id="goodsNum" min="0">
                <button type="button" id="add">+</button>
                件（库存<span id="inventory">{$goods_detail.number}</span>件）
            </div>
            <div class="goods_btn">
                <button type="button" class="bg_blue" onclick="post_order()">立即购买</button>
                <button type="button" class="bg_red " onclick="toTrolley()">加入购物车</button>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <div class="item_subhead">
        <ul id="myTab" class="nav nav-tabs1">
            <li class="active">
                <a href="#home" data-toggle="tab">宝贝详情</a>
            </li>
            <li>
                <a href="#test" data-toggle="tab">专享服务</a>
            </li>
        </ul>

        <div id="myTabContent" class="tab-content">
            <!--宝贝详情-->
            <div class="tab-pane fade in active" id="home">
                <div class="line"></div>
                <div class="item_details">
                    <img src="{$goods_detail.detail_pic}">
                    <div></div>
                </div>
            </div>
            <!--专享服务-->
            <div class="tab-pane fade" id="test">
                <div class="line"></div>
                <div class="item_details">
                    <img src="{$goods_detail.service_pic}">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
<script type="text/javascript" src="__JS__/jquery.min.js" ></script>
<script type="text/javascript" src="__JS__/bootstrap.min.js" ></script>
<script type="text/javascript" src="__LAYUI__/layui.js"></script>
<script type="text/javascript" src="__JS__/common.js" ></script>
<script type="text/javascript" src="__JS__/store.js"></script>
<script type="text/javascript" src="__JS__/item.js"></script>
{include file='common/bottom'}
<script>
	//传递订单信息
	function post_order()
	{
		var data = {
			'gid':$("#gid").val(),
			'number':Number($("#goodsNum").val())
		};
		$.ajax({
			type:"post",
			data:data,
			url:"product_order",
			success:function(r)
			{
			    var return_code = ["-2","-1","1"];
			    r = JSON.parse(r);
			    if(!return_code.indexOf(r['code'])){
			        layer.confirm("返回数据错误！！",function (index) {
                        window.reload();
                    });
                }
			    if(r['code'] == -2){
			        layer.confirm('未登录！请先登录！',function (index) {
			            window.location.href = '/index/publics/login';
                    })
                }
                if(r['code'] == -1){
                    layer.alert(r['msg']);
                    return false;
                }

                if(r['code'] == 1){
                    window.location.href = 'clear?type=buy&'+"ord="+r['data'];
                }
			},
			error:function(r)
			{
				console.log(r);
			},
			async:true
		});
	}
	
	function input_number(number)
	{
		// console.log(Number($("#inventory").html()));
		if(number>Number($("#inventory").html())){
			layer.msg("购买数量有误！！");
			$("#goodsNum").val({$goods_detail.number});
			return false;
		}
		if(number<1){
		    layer.msg("购买数量有误！！");
            $("#goodsNum").val(1);
		    return false;
        }
	}
</script>
<script>
    setNav(1);
</script>
