{include file='common/top'}

<main>

    {include file='common/banner'}

    <div class="cabinet_head">
        <div>
            <label>入驻</label>
            <p>入驻券</p>
            <span>BEST</span>
        </div>
        <span>成为县代时，才能买入驻券激活商家后台</span>
    </div>
    <div class="activate_box">
        <div class="ticket">
            <div class="ticket_head">
                <span>入驻券</span>
                <img src="__IMG__/rmb.png">
            </div>
            <p>成为县代时，才能买入驻券激活商家后台</p>
        </div>
        <div class="ticket_price">
            <p>
                售价：
                <span>500 积分</span>
            </p>
            <button type="button" onclick="enter_tic()">立即购买</button>
        </div>
    </div>
</main>

<script type="text/javascript" src="__JS__/jquery.min.js" ></script>
<script type="text/javascript" src="__JS__/bootstrap.min.js" ></script>
<script type="text/javascript" src="__LAYUI__/layui.js"></script>
<script type="text/javascript" src="__JS__/common.js" ></script>
<script type="text/javascript" src="__JS__/store.js"></script>
{include file='common/bottom'}
<script>
    setNav(1);
    setStoreNav(2);
</script>

