{include file='common/top'}

<main>

    {include file='common/banner'}

    <div class="cabinet_head">
        <div>
            <label>折扣</label>
            <p>特色专区</p>
            <span>BEST</span>
        </div>
        <span>优惠折扣尽在特色专区！</span>
    </div>
    <!--折扣-->
    <div class="cabinet3">
        <div class="show4">
        	<a href="detail?id={$feature[0]['id']}"><img src="{$feature[0]['detail_pic']}"></a>
            <div class="buyBox">
                <div>
                    <p>售价：<span>{$feature[0]['price']}</span> <span>消费券</span></p>
                    <s>原价{$feature[0]['original_price']}消费券</s>
                    <span class="off">5折</span>
                </div>
                <button type="button" onclick="buy({$feature[0]['id']})">立即购买</button>
            </div>
        </div>
        <div class="show4">
        	<a href="detail?id={$feature[1]['id']}"><img src="{$feature[1]['detail_pic']}"></a>
            <div class="buyBox">
                <div>
                    <p>售价：<span>{$feature[1]['price']}</span> <span>消费券</span></p>
                    <s>原价{$feature[1]['original_price']}消费券</s>
                    <span class="off">5折</span>
                </div>
                <button type="button" onclick="buy({$feature[1]['id']})">立即购买</button>
            </div>
        </div>
    </div>
    <div class="cabinet4">
        <div class="show5">
        	<a href="detail?id={$feature[2]['id']}"><img src="{$feature[2]['detail_pic']}"></a>
            <div class="buyBox">
                <div class="flex4">
                    <div>
                        <label>超级折扣日：</label>
                        <s>原价{$feature[1]['price']}消费券</s>
                    </div>
                    <p>
                        现价5折优惠价：
                        <span>{$feature[2]['original_price']}</span>
                        <span>消费券</span>
                    </p>
                </div>
                <button type="button" onclick="buy({$feature[2]['id']})">立即购买</button>
            </div>
        </div>
    </div>

    <div class="cabinet_head">
        <div>
            <label>特惠</label>
            <p>特色专区</p>
            <span>BEST</span>
        </div>
        <span>优惠折扣尽在特色专区！</span>
    </div>
    <!--特惠-->
    <div class="cabinet1">
        <div class="show1">
        	<a href="detail?id={$feature[3]['id']}"><img src="{$feature[3]['detail_pic']}"></a>
            <div class="buyBox">
                <div>
                    <p>售价：<span>{$feature[3]['price']}</span> <span>消费券</span></p>
                </div>
                <button type="button" onclick="buy({$feature[3]['id']})">立即购买</button>
            </div>
        </div>
        <div class="flex">
            <div class="show2">
        	<a href="detail?id={$feature[4]['id']}"><img src="{$feature[4]['detail_pic']}"></a>
                <div class="buyBox">
                    <div>
                        <p>售价：<span>{$feature[4]['price']}</span> <span>消费券</span></p>
                    </div>
                    <button type="button" onclick="buy({$feature[4]['id']})">立即购买</button>
                </div>
            </div>
            <div class="more_choices">
                <div>
                    <span>Make shopping</span>
                    <p>happier</p>
                </div>
            </div>
        </div>
    </div>
    <div class="cabinet2">
        <div class="show3">
        	<a href="detail?id={$feature[5]['id']}"><img src="{$feature[5]['detail_pic']}"></a>
            <div class="buyBox">
                <div>
                    <p>售价：<span>{$feature[5]['price']}</span> <span>消费券</span></p>
                </div>
                <button type="button" onclick="buy()">立即购买</button>
            </div>
        </div>
        <div class="show3">
        	<a href="detail?id={$feature[6]['id']}"><img src="{$feature[6]['detail_pic']}"></a>
            <div class="buyBox">
                <div>
                    <p>售价：<span>{$feature[6]['price']}</span> <span>消费券</span></p>
                </div>
                <button type="button" onclick="buy()">立即购买</button>
            </div>
        </div>
        <div class="show3">
        	<a href="detail?id={$feature[7]['id']}"><img src="{$feature[7]['detail_pic']}"></a>
            <div class="buyBox">
                <div>
                    <p>售价：<span>{$feature[7]['price']}</span> <span>消费券</span></p>
                </div>
                <button type="button" onclick="buy()">立即购买</button>
            </div>
        </div>
    </div>
    <!--分页-->
    <center>
    	{$page}
    </center>
</main>

<script type="text/javascript" src="__JS__/jquery.min.js" ></script>
<script type="text/javascript" src="__LAYUI__/layui.js"></script>
<script type="text/javascript" src="__JS__/bootstrap.min.js" ></script>
<script type="text/javascript" src="__JS__/common.js" ></script>
<script type="text/javascript" src="__JS__/store.js"></script>
{include file='common/bottom'}
<script>
    setNav(1);
    setStoreNav(4);
</script>

