{include file='common/top'}

<main>
{include file='common/banner'}

    <div class="headline">
        <div>优惠专区</div>
        <p>FAVORABLE ZONE</p>
    </div>
    <!--优惠专区显示区域-->
    <div class="cabinet1">
        <div class="show1">
            <a href="detail?id={$preferential[0]['id']}"><img src="{$preferential[0]['detail_pic']}"></a>
            <div class="buyBox">
                <div>
                    <p>售价：<span>{$preferential[0]['price']}</span> <span>积分</span></p>
                    <span>优惠券可以免费兑换</span>
                </div>
                <button type="button" onclick="buy({$preferential[0]['id']})">立即购买</button>
            </div>
        </div>
        <div class="flex">
            <div class="best">
                <div class="best_title">BEST</div>
                <div class="best_name">法国红酒</div>
                <div class="best_subhead">
                    <p>Most</p>
                    <p>beautiful sunset</p>
                </div>
                <span>优惠劵可以直接免费兑换哦！</span>
            </div>
            <div class="show2">
                <a href="detail?id={$feature[1]['id']}"><img src="{$feature[1]['detail_pic']}"></a>
                <div class="buyBox">
                    <div>
                        <p>售价：<span>{$preferential[1]['price']}</span> <span>积分</span></p>
                        <span>优惠券可以免费兑换</span>
                    </div>
                    <button type="button" onclick="buy({$preferential[1]['id']})">立即购买</button>
                </div>
            </div>
        </div>
    </div>
    <div class="cabinet2">
        <div class="show3">
            <a href="detail?id={$feature[2]['id']}"><img src="{$feature[2]['detail_pic']}"></a>
            <div class="buyBox">
                <div>
                    <p>售价：<span>{$preferential[2]['price']}</span> <span>积分</span></p>
                    <span>优惠券可以免费兑换</span>
                </div>
                <button type="button" onclick="buy({$preferential[2]['id']})">立即购买</button>
            </div>
        </div>
        <div class="show3">
            <a href="detail?id={$feature[3]['id']}"><img src="{$feature[3]['detail_pic']}"></a>
            <div class="buyBox">
                <div>
                    <p>售价：<span>{$preferential[3]['price']}</span> <span>积分</span></p>
                    <span>优惠券可以免费兑换</span>
                </div>
                <button type="button" onclick="buy({$preferential[3]['id']})">立即购买</button>
            </div>
        </div>
        <div class="show3">
            <a href="detail?id={$feature[4]['id']}"><img src="{$feature[4]['detail_pic']}"></a>
            <div class="buyBox">
                <div>
                    <p>售价：<span>{$preferential[4]['price']}</span> <span>积分</span></p>
                    <span>优惠券可以免费兑换</span>
                </div>
                <button type="button" onclick="buy({$preferential[4]['id']})">立即购买</button>
            </div>
        </div>
    </div>
    <p class="check_more"><a href="discounts.html">查看更多</a></p>
    <div class="headline">
        <div>特色专区</div>
        <p>SPECIAL AREA</p>
    </div>
    <!--特色专区-->
    <div class="cabinet1">
        <div class="show1">
            <a href="detail?id={$feature[0]['id']}"><img src="{$feature[0]['detail_pic']}"></a>
            <div class="buyBox">
                <div>
                    <p>售价：<span>{$feature[0]['price']}</span> <span>消费券</span></p>
                </div>
                <button type="button" onclick="buy({$feature[0]['id']})">立即购买</button>
            </div>
        </div>
        <div class="flex">
            <div class="show2">
                <a href="detail?id={$feature[1]['id']}"><img src="{$feature[1]['detail_pic']}"></a>
                <div class="buyBox">
                    <div>
                        <p>售价：<span>{$feature[1]['price']}</span> <span>消费券</span></p>
                    </div>
                    <button type="button" onclick="buy({$feature[1]['id']})">立即购买</button>
                </div>
            </div>
            <div class="more_choices">
                <div>
                    <span><a href="feature.html">查看更多 >></a></span>
                    <p>More choices</p>
                </div>
            </div>
        </div>
    </div>
    <div class="cabinet2">
        <div class="show3">
            <a href="detail?id={$feature[2]['id']}"><img src="{$feature[2]['detail_pic']}"></a>
            <div class="buyBox">
                <div>
                    <p>售价：<span>{$feature[2]['price']}</span> <span>消费券</span></p>
                </div>
                <button type="button" onclick="buy({$feature[2]['id']})">立即购买</button>
            </div>
        </div>
        <div class="show3">
            <a href="detail?id={$feature[3]['id']}"><img src="{$feature[3]['detail_pic']}"></a>
            <div class="buyBox">
                <div>
                    <p>售价：<span>{$feature[3]['price']}</span> <span>消费券</span></p>
                </div>
                <button type="button" onclick="buy({$feature[3]['id']})">立即购买</button>
            </div>
        </div>
        <div class="show3">
            <a href="detail?id={$feature[4]['id']}"><img src="{$feature[4]['detail_pic']}"></a>
            <div class="buyBox">
                <div>
                    <p>售价：<span>{$feature[4]['price']}</span> <span>消费券</span></p>
                </div>
                <button type="button" onclick="buy({$feature[4]['id']})">立即购买</button>
            </div>
        </div>
    </div>
</main>

<script type="text/javascript" src="__JS__/jquery.min.js" ></script>
<script type="text/javascript" src="__JS__/bootstrap.min.js" ></script>
<script type="text/javascript" src="__LAYUI__/layui.js"></script>
<script type="text/javascript" src="__JS__/common.js" ></script>
<script type="text/javascript" src="__JS__/store.js"></script>
{include file="common/bottom'}
<script>
    setNav(1);
    setStoreNav(0);
</script>

