{include file='common/top'}

<main>

    {include file='common/banner'}

    <div class="cabinet_head">
        <div>
            <label>商品</label>
            <p>优惠专区</p>
            <span>BEST</span>
        </div>
        <span>优惠券可以免费兑换哦</span>
    </div>
    <div class="container">
        {volist name="preferential" id="goods" key="key"}
		    <div class="show3 col-md-4">
		        <a href="detail?id={$goods.id}"><img src="{$goods.detail_pic}"></a>
		        <div class="buyBox">
		            <div>
		                <p>售价：<span>{$goods.price}</span> <span>消费券</span></p>
		            </div>
		            <button type="button" >立即购买</button>
		        </div>
		    </div>
        {/volist}
    </div>
   <center> {$pre_page}  </center>
    <!--商品展示-->
</main>

<script type="text/javascript" src="__JS__/jquery.min.js" ></script>
<script type="text/javascript" src="__JS__/bootstrap.min.js" ></script>
<script type="text/javascript" src="__JS__/common.js" ></script>
<script type="text/javascript" src="__LAYUI__/layui.js"></script>
<script type="text/javascript" src="__JS__/store.js"></script>
{include file='common/bottom'}
<script>
    setNav(1);
    setStoreNav(3);
</script>

