{include file='common/top'}

<main>

    {include file='common/banner'}

    <div class="cabinet_head">
        <div>
            <label>买入</label>
            <p>手续费</p>
            <span>BEST</span>
        </div>
        <span>买入需要购买手续费</span>
    </div>
    <div class="activate_box">
        <div class="ticket">
            <div class="ticket_head">
                <span>手续费</span>
                <img src="__IMG__/rmb.png">
            </div>
            <p>每次买入需要手续费</p>
        </div>
        <div class="ticket_price">
            <p>
                售价：
                <span>20 积分</span>
            </p>
            <button type="button" onclick="tip()">立即购买</button>
        </div>
    </div>
</main>

{include file='common/bottom'}
<script type="text/javascript" src="__JS__/jquery.min.js" ></script>
<script type="text/javascript" src="__JS__/bootstrap.min.js" ></script>
<script type="text/javascript" src="__LAYUI__/layui.js"></script>
<script type="text/javascript" src="__JS__/common.js" ></script>
<script type="text/javascript" src="__JS__/store.js"></script>
<script>
    setNav(1);
    setStoreNav(2);
</script>

