<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/zhongyu.css" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/store.css">
    <link rel="stylesheet" href="css/userCenter.css">
</head>
<body>
<!--头部-->
<div class="top_nav">
    <div class="container clearfix">
        <div class="top_nav_l">
            <img src="img/logo_zc.png"/>
        </div>
        <ul class="top_nav_r clearfix">
            <li><a href="#">首页</a></li>
            <li><a href="#">众成商城</a></li>
            <li><a href="#">交易中心</a></li>
            <li><a href="#">中心矿机</a></li>
        </ul>
        <div class="accout">
            <span>ZC</span>
            张三
            <div class="accout_menu">
                <p><a href="#">会员中心</a></p>
                <p><a href="#">退出登录</a></p>
            </div>
        </div>
    </div>
</div>
<!--商城导航栏-->
<div class="store_nav">
    <div class="store_nav_box">
        <ul class="store_nav_r">
            <li><a href="store.html">商城首页</a></li>
            <li><a href="allSale.html">全部分类</a></li>
            <li><a href="activate.html">激活券</a></li>
            <li><a href="discounts.html">优惠专区</a></li>
            <li><a href="feature.html">特色专区</a></li>
        </ul>
        <div>
            <input type="text" id="search">
            <button type="button" class="search_btn" onclick="searchBtn()">搜索</button>
        </div>
    </div>
</div>
<!---->

<main>
    <div class="cabinet_head">
        <div>
            <label>个人中心</label>
            <p>我的订单</p>
            <span>BEST</span>
        </div>
        <span>查看个人信息</span>
    </div>
    <div class="order_form">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active">
                <a href="#all" data-toggle="tab">全部订单</a>
            </li>
            <li>
                <a href="#debt" data-toggle="tab">待付款</a>
            </li>
            <li>
                <a href="#wait" data-toggle="tab">待发货</a>
            </li>
            <li>
                <a href="#received" data-toggle="tab">已收货</a>
            </li>
            <li>
                <a href="#finish" data-toggle="tab">已完成</a>
            </li>
        </ul>

        <div id="myTabContent" class="tab-content">

            <!--全部订单-->
            <div class="tab-pane fade in active" id="all">
                <div class="indent">
                    <div class="indent_box">
                        <div class="indent_left">
                            <img src="img/show1.jpg">
                            <div class="indent_detail">
                                <p class="">法国梧桐Realmadrid红酒</p>
                                <p>
                                    <span>200</span>
                                    <span>消费券</span>
                                </p>
                                <p>
                                    数量
                                    <span>1</span>
                                </p>
                                <p>
                                    时间：
                                    <span>2018-10-17 17:30:02</span>
                                </p>
                            </div>
                        </div>
                        <div class="indent_center">
                            <p>
                                订单号：
                                <span>15484555656</span>
                            </p>
                        </div>
                        <div class="indent_right">
                            <div>
                                <input type="button" class="indentBtn_off" onclick="off_indent(this)" value="取消订单">
                                <span></span>
                            </div>
                            <div>
                                <input type="button" class="indentBtn_on" onclick="use_indent(this)" value="立即付款">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="indent">
                    <div class="indent_box">
                        <div class="indent_left">
                            <img src="img/show1.jpg">
                            <div class="indent_detail">
                                <p class="">法国梧桐Realmadrid红酒</p>
                                <p>
                                    <span>200</span>
                                    <span>消费券</span>
                                </p>
                                <p>
                                    数量
                                    <span>1</span>
                                </p>
                                <p>
                                    时间：
                                    <span>2018-10-17 17:30:02</span>
                                </p>
                            </div>
                        </div>
                        <div class="indent_center">
                            <p>
                                订单号：
                                <span>15484555656</span>
                            </p>
                        </div>
                        <div class="indent_right">
                            <div>
                                <span></span>
                                <p>
                                    物流号：
                                    <span>15484555656</span>
                                </p>
                            </div>
                            <div>
                                <input type="button" class="indentBtn_on" onclick="use_indent(this)" value="确认收货">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="indent">
                    <div class="indent_box">
                        <div class="indent_left">
                            <img src="img/show1.jpg">
                            <div class="indent_detail">
                                <p class="">法国梧桐Realmadrid红酒</p>
                                <p>
                                    <span>200</span>
                                    <span>消费券</span>
                                </p>
                                <p>
                                    数量
                                    <span>1</span>
                                </p>
                                <p>
                                    时间：
                                    <span>2018-10-17 17:30:02</span>
                                </p>
                            </div>
                        </div>
                        <div class="indent_center">
                            <p>
                                订单号：
                                <span>15484555656</span>
                            </p>
                        </div>
                        <div class="indent_right">
                            <div></div>
                            <div>
                                <input type="button" class="indentBtn_on" onclick="use_indent(this)" value="提醒发货">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="indent">
                    <div class="indent_box">
                        <div class="indent_left">
                            <img src="img/show1.jpg">
                            <div class="indent_detail">
                                <p class="">法国梧桐Realmadrid红酒</p>
                                <p>
                                    <span>200</span>
                                    <span>消费券</span>
                                </p>
                                <p>
                                    数量
                                    <span>1</span>
                                </p>
                                <p>
                                    时间：
                                    <span>2018-10-17 17:30:02</span>
                                </p>
                            </div>
                        </div>
                        <div class="indent_center">
                            <p>
                                订单号：
                                <span>15484555656</span>
                            </p>
                        </div>
                        <div class="indent_right">
                            <div></div>
                            <div>
                                <input type="button" class="indentBtn_on" onclick="use_indent(this)" value="已完成" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="page">
                    <li><a href="#"><</a></li>
                    <li><a href="#" class="red">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">...</a></li>
                    <li><a href="#">></a></li>
                </ul>
            </div>

            <!--待付款-->
            <div class="tab-pane fade" id="debt">
                <div class="indent">
                    <div class="indent_box">
                        <div class="indent_left">
                            <img src="img/show1.jpg">
                            <div class="indent_detail">
                                <p class="">法国梧桐Realmadrid红酒</p>
                                <p>
                                    <span>200</span>
                                    <span>消费券</span>
                                </p>
                                <p>
                                    数量
                                    <span>1</span>
                                </p>
                                <p>
                                    时间：
                                    <span>2018-10-17 17:30:02</span>
                                </p>
                            </div>
                        </div>
                        <div class="indent_center">
                            <p>
                                订单号：
                                <span>15484555656</span>
                            </p>
                        </div>
                        <div class="indent_right">
                            <div>
                                <input type="button" class="indentBtn_off" onclick="off_indent(this)" value="取消订单">
                                <span></span>
                            </div>
                            <div>
                                <input type="button" class="indentBtn_on" onclick="use_indent(this)" value="立即付款">
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="page">
                    <li><a href="#"><</a></li>
                    <li><a href="#" class="red">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">...</a></li>
                    <li><a href="#">></a></li>
                </ul>
            </div>

            <!--待发货-->
            <div class="tab-pane fade" id="wait">
                <div class="indent">
                    <div class="indent_box">
                        <div class="indent_left">
                            <img src="img/show1.jpg">
                            <div class="indent_detail">
                                <p class="">法国梧桐Realmadrid红酒</p>
                                <p>
                                    <span>200</span>
                                    <span>消费券</span>
                                </p>
                                <p>
                                    数量
                                    <span>1</span>
                                </p>
                                <p>
                                    时间：
                                    <span>2018-10-17 17:30:02</span>
                                </p>
                            </div>
                        </div>
                        <div class="indent_center">
                            <p>
                                订单号：
                                <span>15484555656</span>
                            </p>
                        </div>
                        <div class="indent_right">
                            <div></div>
                            <div>
                                <input type="button" class="indentBtn_on" onclick="use_indent(this)" value="提醒发货">
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="page">
                    <li><a href="#"><</a></li>
                    <li><a href="#" class="red">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">...</a></li>
                    <li><a href="#">></a></li>
                </ul>
            </div>

            <!--已收货-->
            <div class="tab-pane fade" id="received">
                <div class="indent">
                    <div class="indent_box">
                        <div class="indent_left">
                            <img src="img/show1.jpg">
                            <div class="indent_detail">
                                <p class="">法国梧桐Realmadrid红酒</p>
                                <p>
                                    <span>200</span>
                                    <span>消费券</span>
                                </p>
                                <p>
                                    数量
                                    <span>1</span>
                                </p>
                                <p>
                                    时间：
                                    <span>2018-10-17 17:30:02</span>
                                </p>
                            </div>
                        </div>
                        <div class="indent_center">
                            <p>
                                订单号：
                                <span>15484555656</span>
                            </p>
                        </div>
                        <div class="indent_right">
                            <div>
                                <span></span>
                                <p>
                                    物流号：
                                    <span>15484555656</span>
                                </p>
                            </div>
                            <div>
                                <input type="button" class="indentBtn_on" onclick="use_indent(this)" value="确认收货">
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="page">
                    <li><a href="#"><</a></li>
                    <li><a href="#" class="red">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">...</a></li>
                    <li><a href="#">></a></li>
                </ul>
            </div>

            <!--已完成-->
            <div class="tab-pane fade" id="finish">
                <div class="indent">
                    <div class="indent_box">
                        <div class="indent_left">
                            <img src="img/show1.jpg">
                            <div class="indent_detail">
                                <p class="">法国梧桐Realmadrid红酒</p>
                                <p>
                                    <span>200</span>
                                    <span>消费券</span>
                                </p>
                                <p>
                                    数量
                                    <span>1</span>
                                </p>
                                <p>
                                    时间：
                                    <span>2018-10-17 17:30:02</span>
                                </p>
                            </div>
                        </div>
                        <div class="indent_center">
                            <p>
                                订单号：
                                <span>15484555656</span>
                            </p>
                        </div>
                        <div class="indent_right">
                            <div></div>
                            <div>
                                <input type="button" class="indentBtn_on" onclick="use_indent(this)" value="已完成" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="page">
                    <li><a href="#"><</a></li>
                    <li><a href="#" class="red">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">...</a></li>
                    <li><a href="#">></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="cabinet_head">
        <div>
            <label>入住商城</label>
            <p>申请入驻</p>
            <span>BEST</span>
            <small class="vip_rank">
                我的会员等级：
                <small>
                    省代
                    <img src="img/moon.png">
                    <img src="img/moon.png">
                    <img src="img/moon.png">
                </small>
            </small>
        </div>
        <span>县代以上才能成为商家哦</span>
    </div>
    <div class="enter_store">
        <ul class="com_detail">
            <li>
                <div>
                    <p>公司法人：</p>
                    <input type="text" name="comDetail" placeholder="请填写公司法人">
                </div>
            </li>
            <li>
                <div>
                    <p>法人证件：</p>
                    <input type="number" name="comDetail" placeholder="请填写法人身份证号">
                </div>
            </li>
            <li>
                <div>
                    <p>经营范围：</p>
                    <input type="text" name="comDetail" placeholder="请填写经营范围">
                </div>
            </li>
            <li>
                <div>
                    <p>联系电话：</p>
                    <input type="number" name="comDetail" placeholder="请填写手机号码">
                </div>
            </li>
            <li id="com_address">
                <div>
                    <p>公司详细地址</p>
                    <input type="text" name="comDetail" placeholder="请填写详细地址">
                </div>
            </li>
        </ul>
        <div class="up_permit">
            <p>请上传营业执照：</p>
            <div class="permit">
                <div class="file_up">
                    <input type="file" id="frontIn" class="fileInput" onchange="upload(event)">
                    <img src="img/up.png" class="up_img">
                    <img src="" id="frontImg">
                </div>
                <span>上传营业执照</span>
            </div>
            <button type="button" onclick="apply_for()">提交申请</button>
        </div>
    </div>
</main>
<!--底部-->
<div class="foot">
    <img src="img/logo_zc.png" class="foot_img"/>
    <div class="foot_b">@2018.zhongchengguoji</div>
</div>

</body>
<script type="text/javascript" src="js/jquery.min.js" ></script>
<script type="text/javascript" src="js/bootstrap.min.js" ></script>
<script src="layui/layui.js"></script>
<script type="text/javascript" src="js/common.js" ></script>
<script src="js/store.js"></script>
<script src="js/userCenter.js"></script>
<script>
    setNav(1);
</script>
</html>
