{include file='common/indexTop'}
<!--匹配订单-->
<div class="container" style="min-height: 580px;">
	<div class="order_tit clearfix">
		<h1>匹配订单</h1>
		<span class="order_tit_1">订单详情</span>
		<span class="order_tit_2">BEST</span>
		<span class="order_tit_3">查看订单详情</span>
	</div>
	<div class="payer">
		<p class="clearfix">
			<span class="col-md-3">打款人：{$order.real_name}({$order.account})</span>
			<span class="col-md-3">总预付款：{$order.order_number}</span>
			<span class="col-md-3">付款状态：<font class="cor_red">{$order.order_status_text}</font></span>
			<span class="col-md-3">备注：{empty name='$order.remarks'}无{else/}{$order.remarks}{/empty}</span>
		</p>
		<div class="payer_sm">打款最迟时间：{$order.last_pay_date} 每天早上8点~12点完成并需要确认</div>
	</div>
	<ul class="payee payee2">
		<li>
			<p>
				<span>收款人：{empty name='$order.trade_sell.real_name'}&nbsp;-&nbsp;{else/}&nbsp;{$order.trade_sell.real_name}&nbsp;{/empty}({$order.trade_sell.account})</span>
				<span>需要打款：<font class="cor_red">{$order.order_number}</font></span>
				<span>收款状态：<font class="cor_red">{$order.order_status_text}</font></span>
				<span>打款时间：{$order.pay_date}</span>
			</p>
			<div class="clearfix" style="margin-top: 15px;">
				{empty name='$order.pay_time'}
					<div class="col-md-3" style='width:80%;'>打款人信息：-</div>
					<div class="col-md-2">
						<button data-toggle="modal" style='background:gray;cursor:default;'>查看凭证</button>
						<button style='background:gray;cursor:default;'>确认提交</button>
					</div>
				{else/}
					<div class="col-md-3" style='width:80%;'>打款人信息：{$order.pay_info.pay_account}</div>
					<div class="col-md-2">
						<button data-toggle="modal" data-target="#view">查看凭证</button>
						{empty name='$order.clear_deal_btn'}
							<button onclick='deal({$order.id},{$order.trade_sell_ids})'>确认提交</button>
						{else/}
							<button style='background:gray;cursor:default;'>确认提交</button>
						{/empty}
					</div>
				{/empty}
			</div>
		</li>
	</ul>
</div>	

<!--查看凭证-->
<div class="modal fade" id="view" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">查看凭证</h4>
			</div>
			<div class="modal-body">
				<img src="{$order.pay_info.pay_pic}" class="view_img"/>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn_red2" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>
{include file='common/bottom'}
<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script type="text/javascript" src="__JS__/bootstrap.min.js"></script>
<script type="text/javascript" src="__JS__/common.js"></script>
<script type='text/javascript' src="__JS__/layer/layer.js"></script>

<link rel="stylesheet" href="__LAYUI__/css/layui.css" media="all" />
<script type='text/javascript' src="__LAYUI__/layui.all.js"></script>
<script>
	setNav(0);
</script>
<script type='text/javascript'>
// 提交匹配订单
function deal(id,trade_sell_ids){
	layer.confirm('确定提交吗?',{
		btn: ['确定','关闭']
	},function(){
		$.ajax({
			type:'post',
			url:'{:url("trade_deal")}',
			data:{id:id,trade_sell_ids:trade_sell_ids},
			success:function(ret){
				if(ret.code === 0){
					layer.msg(ret.msg);
				}else{
					layer.msg(ret.msg,{icon:ret.code,time:1500},function(){
						location.href = self.location.href;
					});
				}
			}
		});
	});
}
</script>
