<!--banner图-->
<div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        {volist name = "banner" id = "b_leader" key = "key"}
        <li data-target="#myCarousel" data-slide-to="{$key-1}" class="{$key==1?'active':''}"></li>
        {/volist}
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        {volist name = "banner" id = "b" key = "key"}
        <div class="item {$key==1?' active':' '}">
            <img src="{$b.link}" alt="Third slide">
        </div>
        {/volist}

    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>