<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>首页</title>
<link rel="stylesheet" href="__CSS__/common.css" />
<link rel="stylesheet" href="__CSS__/zhongyu.css" />
<link rel="stylesheet" href="__CSS__/bootstrap.css" />
</head>

<body>
<!--头部-->
<div class="top_nav">
	<div class="container clearfix">
		<div class="top_nav_l">
			<img src="__IMG__/logo_zc.png" />
		</div>
		<ul class="top_nav_r clearfix">
			{volist name='sidebar' id='vo' key = "key"}
				<li>
					{if condition ="($key eq 3) OR ($key eq 4)"}
					<a onclick="javascript:layer.alert('功能待开发',{time:2000,title:'温馨提示'})" style="cursor:pointer" >{$vo.title}</a>
					{else}
					<a href="/{$vo.name}" >{$vo.title}</a>
					{/if}
				</li>
			{/volist}
		</ul>
		{empty name='$account'}
	        <div class="accout">
	            <span>ZC</span>
				<div class="accout_menu">
	                <p><a href="{:url('Publics/login')}">登录</a></p>
	                <p><a href="{:url('Publics/userreg')}">注册</a></p>
	            </div>
	        </div>
	    {else/}
	    	<div class="accout">
	            <span>ZC</span>
	            {$account}
	            <div class="accout_menu">
	                <p><a href="{:url('User/wallet')}">会员中心</a></p>
	                <p><a href="{:url('Publics/logout')}">退出登录</a></p>
	            </div>
	        </div>
	    {/empty}
	</div>
</div>
		