{include file="common/top" /}
<style type="text/css">
.nocursor {cursor:auto;}
.main-container .table tr td {
  vertical-align: middle;
}
.main-container .table tr td a{
  margin-right:10px;
}
.cur_title {font-weight:bold;}
.user_info_btn {text-align:center;}
.state_red {float:right;width:50px;height:26px;line-height:26px;text-align:center;color:white;border-radius:10px;background-color:red;cursor:pointer;box-shadow:#006666 1px 1px 2px;}
.state_green {float:left;width:50px;height:26px;line-height:26px;text-align:center;color:white;border-radius:10px;background-color:green;cursor:pointer;box-shadow:#18A665 1px 1px 2px;}
</style>
</head>
<body class="no-skin">
{include file="common/header" /}
<div class="main-container" id="main-container"> {include file="common/sidebar" /}
  <div class="main-content">
    <div class="main-content-inner">
      <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
          <li> <i class="ace-icon fa fa-home home-icon"></i> <a href="{:url('Index/index')}">{:config('WEB_SITE_NAME')}</a> </li>
          <li> <a href="{:url('index')}">用户管理</a> </li>
          <li class="active">{$pagename}</li>
        </ul>
      </div>
      <div class="page-content">
        <div class="page-header">
          <h1> {$pagename} <small> <i class="ace-icon fa fa-angle-double-right"></i> 查询出{$list.count}条数据 </small> </h1>
        </div>
        <!-- /.page-header -->
        <div class="row">
          <div class="col-xs-12"> 
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
              <div class="col-xs-12" style="margin-bottom:10px;">
                  <label>上一级</label>
              </div>
              <div class="col-xs-12">
                <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th class="center">用户ID</th>
                      <th>账号</th>
                      <th>上级用户</th>
                      <th>左区用户</th>
                      <th>右区用户</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr>
                        <td class="center">{$list.up.uid}</td>
                        <td>{$list.up.user.account}</td>
                        <td>{eq name='$list.up.user.parent_account' value=''}--{else/}{$list.up.user.parent_account}{/eq}</td>
                        <td>{$list.up.left_uid}</td>
                        <td>{$list.up.right_uid}</td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
            
            <div class="row">
              <div class="col-xs-12" style="margin-bottom:10px;">
                  <label>当前用户</label>
              </div>
              <div class="col-xs-12">
                <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th class="center">用户ID</th>
                      <th>账号</th>
                      <th>上级用户</th>
                      <th>左区用户</th>
                      <th>右区用户</th>
                      <th>查看</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr>
                        <td class="center">{$list.current.uid}</td>
                        <td>{$list.current.user.account}</td>
                        <td>{eq name='$list.current.user.parent_account' value=''}--{else/}{$list.current.user.parent_account}{/eq}</td>
                        <td>{$list.current.left_uid}</td>
                        <td>{$list.current.right_uid}</td>
                        <td><a class="btn btn-sm btn-success" data-id='{$list.current.uid}'>查看下层</a></td>
                      </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.span --> 
            </div>
            
            <!-- PAGE CONTENT ENDS --> 
          </div>
          <!-- /.col --> 
        </div>
        <!-- /.row --> 
      </div>
      <!-- /.page-content --> 
    </div>
  </div>
  <!-- /.main-content -->
  <div class="footer">
    <div class="footer-inner"> 
      <!-- #section:basics/footer -->
      <div class="footer-content"> <span class="bigger-120"> <span class="blue bolder">{:config('WEB_SITE_NAME')} </span>{$Think.WEB_VERSION}版 </span></div>
      <!-- /section:basics/footer --> 
    </div>
  </div>
  <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse"><i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i></a> </div>
<!-- /.main-container --> 
<!-- basic scripts --> 
{include file="common/bottom" /}
<script src="__JS__/layer/layer.js"></script>

<!-- 树形结构图 -->
<link rel="stylesheet" href="__ZTREE__/css/demo.css" type="text/css">
<link rel="stylesheet" href="__ZTREE__/css/zTreeStyle/zTreeStyle.css" type="text/css">
<script type="text/javascript" src="__ZTREE__/js/jquery.ztree.core.js"></script>
<script type="text/javascript">
$('.btn-success').click(function(){
	var id = $(this).data('id'); 
	layer.open({
		type: 1,
		skin: 'layui-layer-rim', //加上边框
		area: ['232px', '424px'], //宽高
		content: '<ul id="demotree" class="ztree"></ul>',
		success: function(){
			var zTree;
			var treeNodes;
			$(function(){
				$.ajax({
					async : false,
					cache:false,
					type: 'POST',
					dataType : "json",
					data:{"id":id},
					url: "{:url('userinfo')}",//请求的action路径
					success:function(data){ //请求成功后处理函数。
						treeNodes = eval(data); //把后台封装好的简单Json格式赋给treeNodes
					}
				});
			});
			//初始化节点
			$(document).ready(function(){
				$.fn.zTree.init($("#demotree"), setting, treeNodes);
			});
		}
	});
});
var setting = {
	isSimpleData : true, //数据是否采用简单 Array 格式，默认false
	treeNodeKey : "id", //在isSimpleData格式下，当前节点id属性
	treeNodeParentKey : "pId", //在isSimpleData格式下，当前节点的父节点id属性
	showLine : true, //是否显示节点间的连线
	callback :{
		onClick : function(event, treeId, treeNode, clickFlag) {  
			// 判断是否父节点  
			if(!treeNode.isParent){
				$.ajax({
					url: "{:url('childinfo')}",//请求的action路径
					data:{"id":treeNode.id},
					success:function(data){ //添加子节点到指定的父节点
						var jsondata= eval(data);
						if(jsondata == null || jsondata == ""){
							//末节点的数据为空   所以不再添加节点  这里可以根据业务需求自己写
							//$("#treeFrame").attr("src",treeNode.url);
						}else{
							var treeObj = $.fn.zTree.getZTreeObj("demotree");
							//treeNode.halfCheck = false;
							var parentZNode = treeObj.getNodeByParam("id", treeNode.id, null);//获取指定父节点
							newNode = treeObj.addNodes(parentZNode,jsondata, false);
						}
					}
				});
			} 
		}
	},
	//checkable : true //每个节点上是否显示 CheckBox
};
</script>

</body>
</html>