{include file='common/userTop'}
<link rel="stylesheet" href="__CSS__/bonus.css">
<!--内容-->
<main class="main">
    <div class="main_box">
        <div class="main_left">
            <!--左侧用户信息&左侧会员中心导航栏-->
            {include file='common/userMenu'}
        </div>

        <div class="main_right">
            <p class="vip_hint">钱包（请妥善保管您的资金）：</p>
            <!--冻结区-->
            <div class="bonus_head">
                <span>冻结区：</span>
            </div>
            <div class="bonus_box">
                <div class="bonus_main">
                    {volist name='$bonus' id='vo'}
	                    <div>
	                        <span>{$vo.name}</span>
	                        <p>
	                            <span>{$vo.frozen_bouns_number}</span>
	                            积分
	                        </p>
	                    </div>
                    {/volist}
                </div>
                <p>小提示：进入冻结区的奖金，需要十天才能解冻哦，请耐心等待</p>
            </div>

            <!--解冻区-->
            <div class="bonus_head">
                <span>解冻区：</span>
                <a href="{:url('withdraw')}">提现</a>
            </div>
            <div class="bonus_box">
                <div class="bonus_main">
                    {volist name='$bonus' id='vo'}
	                    <div>
	                        <span>{$vo.name}</span>
	                        <p>
	                            <span>{$vo.bouns_number}</span>积分
	                        </p>
	                    </div>
                    {/volist}
                </div>
                <p>小提示：动态解冻一月一次，福利不限次数哦，请耐心等待</p>
            </div>

            <!--转成消费券-->
            <div class="bonus_head">
                <span>转成消费券：</span>
            </div>
            <div class="bonus_box">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active">
                        <a href="#active" data-toggle="tab">动态奖金</a>
                    </li>
                    <li>
                        <a href="#static" data-toggle="tab">静态奖金</a>
                    </li>
                    <li>
                        <a href="#welfare" data-toggle="tab">福利奖金</a>
                    </li>
                </ul>

                <div id="myTabContent" class="tab-content" data-uid='{$uid}'>
                    <!--动态奖金-->
                    <div class="tab-pane fade in active" id="active">
                        <div class="move_in">
                            <p>
                                <span>动态积分：</span>
                                <small>按照1:1的比例转换消费券</small>
                            </p>
                            <input type="number" id="integral" oninput="integral()" name="bouns_number" placeholder="请输入您的转换的动态积分数量">
                        </div>
                        <div class="move_in">
                            <p>
                                <span>转换的消费券：</span>
                            </p>
                            <input type="number" id="consume" value="0" name="number" readonly="readonly">
                        </div>
                        <input type='hidden' id='integral_id' name='bouns_type' value='2'/>
                        <button type="button" onclick="in_con()">确认转换</button>
                    </div>

                    <!--静态奖金-->
                    <div class="tab-pane fade" id="static">
                        <div class="move_in">
                            <p>
                                <span>静态积分：</span>
                                <small>按照1:1的比例转换消费券</small>
                            </p>
                            <input type="number" id="quiet" oninput="quiet()" name="bouns_number" placeholder="请输入您的转换的静态积分数量">
                        </div>
                        <div class="move_in">
                            <p>
                                <span>转换的消费券：</span>
                            </p>
                            <input type="number" id="sta_con" name="number" value="0" readonly="readonly">
                        </div>
                        <input type='hidden' id='quiet_id' name='bouns_type' value='1'/>
                        <button type="button" onclick="quiet_con()">确认转换</button>
                    </div>

                    <!--福利奖金-->
                    <div class="tab-pane fade" id="welfare">
                        <div class="move_in">
                            <p>
                                <span>福利积分：</span>
                                <small>按照1:1的比例转换消费券</small>
                            </p>
                            <input type="number" id="weal" oninput="weal()" name="bouns_number" placeholder="请输入您的转换的福利积分数量">
                        </div>
                        <div class="move_in">
                            <p>
                                <span>转换的消费券：</span>
                            </p>
                            <input type="number" id="weal_con" name="number" value="0" readonly="readonly">
                        </div>
                        <input type='hidden' id='weal_id' name='bouns_type' value='3'/>
                        <button type="button" onclick="weal_con()">确认转换</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{include file='common/bottom'}
<script>
    vipNav(1)
</script>
<script type='text/javascript'>
// 判断买入数量输入格式
$('#integral,#quiet,#weal').on('input',function(){
	$(this).val($(this).val().match(/\d+\.?\d{0,2}/));
});
var uid = $('.user_name').attr('data-uid');

// 提交动态积分
function integral() {
    var num = $('#integral').val();
    $('#consume').val(num);
}
function in_con() {
    var number = $('#integral').val();
    var bouns_type = $('#integral_id').val();
    layer.confirm('确定转换？', {
        btn: ['确定','取消']
    }, function(){
        $.ajax({
        	type:'post',
        	url:'{:url("bonus")}',
        	data:{uid:uid,number:number,bouns_type:bouns_type},
        	success:function(ret){
        		if(ret.code === 0){
        			layer.alert(ret.msg);
        		}else{
        			$('#integral').val('');
        			$('#consume').val('0');
        			layer.alert(ret.msg);
        		}
        	}
        });
    });
}


// 提交静态积分
function quiet() {
    var num = $('#quiet').val();
    $('#sta_con').val(num);
}
function quiet_con() {
    var number = $('#quiet').val();
    var bouns_type = $('#quiet_id').val();
    layer.confirm('确定转换？', {
        btn: ['确定','取消']
    }, function(){
        $.ajax({
        	type:'post',
        	url:'{:url("bonus")}',
        	data:{uid:uid,number:number,bouns_type:bouns_type},
        	success:function(ret){
        		if(ret.code === 0){
        			layer.alert(ret.msg);
        		}else{
        			$('#quiet').val('');
        			$('#sta_con').val('0');
        			layer.alert(ret.msg);
        		}
        	}
        });
    });
}

// 提交福利积分
function weal() {
    var num = $('#weal').val();
    $('#weal_con').val(num);
}
function weal_con() {
    var number = $('#weal').val();
    var bouns_type = $('#weal_id').val();
    layer.confirm('确定转换？', {
        btn: ['确定','取消']
    }, function(){
        $.ajax({
        	type:'post',
        	url:'{:url("bonus")}',
        	data:{uid:uid,number:number,bouns_type:bouns_type},
        	success:function(ret){
        		if(ret.code === 0){
        			layer.alert(ret.msg);
        		}else{
        			$('#weal').val('');
        			$('#weal_con').val('0');
        			layer.alert(ret.msg);
        		}
        	}
        });
    });
}
</script>
