{include file='common/userTop'}
<link rel="stylesheet" href="__CSS__/move.css">
<!--内容-->
<main class="main">
    <div class="main_box">
        <div class="main_left">
            <!--左侧用户信息&左侧会员中心导航栏-->
            {include file='common/userMenu'}
        </div>

        <div class="main_right">
            <p class="vip_hint">转账（请注意资金安全）：</p>
            <div class="move_box">
                <ul id="myTab" class="nav nav-tabs">
                	{volist name='voucher' id='vo'}
	                    <li {eq name='$vo.id' value='1'}class="active"{/eq}>
	                        <a href="{$vo.href}" data-toggle="tab">{$vo.name}</a>
	                    </li>
                    {/volist}
                </ul>

                <div id="myTabContent" class="tab-content">
                    <!--优惠券-->
                    {volist name='voucher' id='vo'}
	                    <div class="tab-pane fade{eq name='$vo.id' value='1'} in active{/eq}" id="{$vo.div_id}">
	                        <div class="move_box">
	                            <p>{$vo.name}转账数量：</p>
	                            <input type="number" id="{$vo.id}_number" name="number" placeholder="请输入您的{$vo.name}转账数量" />
	                        </div>
	                        <div class="move_box">
	                            <p>转账账户：</p>
	                            <input type="text" id="{$vo.id}_account" name="account" placeholder="请输入您要转账的账户" />
	                        </div>
	                        <button type="button" onclick="move({$vo.id})">确定</button>
	                    </div>
                    {/volist}
                </div>
                
                <!--转账记录-->
                <div class="fund_record">
                    <p>转账记录：</p>
                    <form class="record">
                        <table>
                            <thead>
	                            <tr>
	                                <th>创建时间</th>
	                                <th>种类</th>
	                                <th>数量</th>
	                                <th>接收人</th>
	                            </tr>
                            </thead>
                            <tbody id='transfer_list' data-count='{$count}'>
	                            
                            </tbody>
                        </table>
                    </form>
                    <ul id='transfer_page' class="page" style='width:auto;'>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>

{include file='common/bottom'}
<link rel="stylesheet" href="__LAYUI__/css/layui.css" media="all" />
<script type='text/javascript' src="__LAYUI__/layui.js"></script>
<script type='text/javascript' src="__JS__/layer/layer.js"></script>
<script>
    vipNav(3)
</script>
<script type='text/javascript'>
// 获取用户ID
var uid = $('.user_name').attr('data-uid');

// 执行转账
function move(vid) {
	layer.confirm('确定要转账吗？', {
        btn: ['确定','取消']
    }, function(){
	    var data = {
	    	uid:uid,
	    	vid:vid,
	    	number:$('#'+vid+'_number').val(),
	    	account:$('#'+vid+'_account').val(),
	    };
	    $.ajax({
	    	type:'post',
	    	url:'{:url("transfer")}',
	    	data:data,
	    	success:function(ret){
	    		if(ret.code === 0){
	    			if(ret.url){
	        			layer.alert(ret.msg,{icon:1500},function(){
	        				location.href = ret.url;
	        			});
					}else{
						layer.alert(ret.msg);
					}
	    		}else{
	    			layer.msg(ret.msg,{icon:ret.code,time:1500},function(){
	    				location.href = self.location.href;
	    			});
	    		}
	    	}
	    });
    });
}

// 转账分页功能
var page;
$(document).ready(function(){
	// 读取转账分页
	transfer_list();
	layui.use('laypage', function(){
	  var logpage = layui.laypage;
	  // 执行一个laypage实例
	  logpage.render({
	    elem: 'transfer_page', 	// 注意，这里的 msg_page 是 ID，不用加 # 号
	    count: $('#transfer_list').attr('data-count'), 			// 数据总数，从服务端得到
	    curr: page,
		limit: 8,
	    layout: ['count','prev','page','next','refresh', 'skip'],
	    jump: function(obj,first){
	      page = obj.curr;
	      if(!first){
	      	transfer_list(page);
	      }
	    }
	  });
	});
});
// 调用转账分页
function transfer_list(page){
	var data = {
		uid:uid,
		page:page,
	}
	var transfer_html = '';
	$.ajax({
		type:'post',
		async:false, 
		url:'{:url("transfer_list")}',
		data:data,
		success:function(ret){
			if(ret.code === 0){
				transfer_html = '<tr class="no_data"><td colspan="4">暂无数据</td></tr>';
			}else{
				$.each(ret.transfer,function(k,v){
					transfer_html += '<tr><td>'+v.create_date+'</td>';
	                transfer_html += '<td>'+v.vou_name+'</td>';
	                transfer_html += '<td>'+v.number+'</td>';
	                transfer_html += '<td>'+v.target_user_account+'</td></tr>';
				})
			}
			$('#transfer_list').html(transfer_html);
		}
	});
}
</script>

