{include file='common/top'}
<style type='text/css'>
.file_up {cursor:pointer;}
</style>
<main>
    <div class="cabinet_head">
        <div>
            <label>个人中心</label>
            <p>我的订单</p>
            <span>BEST</span>
        </div>
        <span>查看个人信息</span>
    </div>
    <div class="order_form">
        <ul class="nav nav-tabs">
            <li {if condition = "$type eq null"} class="active" {/if}>
                <a href="my_promotion">全部订单</a>
            </li>
            <li {if condition = "$type eq 1"} class="active" {/if} >
                <a href="my_promotion?type=1">待付款</a>
            </li>
            <li {if condition = "$type eq 2"} class="active" {/if}>
                <a href="my_promotion?type=2">待发货</a>
            </li>
            <li {if condition = "$type eq 3"} class="active" {/if}>
            <a href="my_promotion?type=3">待收货</a>
            </li>
            <li {if condition = "$type eq 4"} class="active" {/if}>
                <a href="my_promotion?type=4">已完成</a>
            </li>
        </ul>

        <div class="tab-content">
            <!--全部订单-->
            <div class="tab-pane fade in active" id="all">
            {volist name = "order" id = "o" key = "key"}
                <div class="indent">
                    <div class="indent_box">
                        <div class="indent_left">
                            <img src="{$o.detail_pic}">
                            <div class="indent_detail">
                                <p class="">{$o.name}</p>
                                <p>
                                    <span>{$o.money}</span>
                                    <span>消费券</span>
                                </p>
                                <p>
                                    数量
                                    <span>{$o.g_number}</span>
                                </p>
                                <p>
                                    时间：
                                    <span>{:date("Y-m-d H:i:s",$o.create_time)}</span>
                                </p>
                            </div>
                        </div>
                        <div class="indent_center">
                            <p>
                                订单号：
                                <span>{$o.order_number}</span>
                            </p>
                        </div>
                        <div class="indent_right">
                            <div></div>
                            <div>
                                {switch name = '$o.order_status'}
                                {case value = '1'}<input type="button" class="indentBtn_on" onclick="use_indent(this,'pay_now',{$o.order_number})" value="待支付" title="去支付">{/case}
                                {case value = '2'}<input type="button" class="indentBtn_on" ondblclick="use_indent(this,'notice',)" value="提醒发货" title="双击提醒发货"><input type="button" class="indentBtn_on" disabled value="待发货">{/case}
                                {case value = '3'}<input type="button" class="indentBtn_on" onclick="javascript:layer.confirm('确认收货吗？',function (){use_indent(this,'confirm',{$o.order_number})})" value="确认收货" title="点击收货">{/case}
                                {case value = '4'}<input type="button" class="indentBtn_on" onclick="use_indent(this)" value="已完成" disabled>{/case}
                                {/switch}
                            </div>
                        </div>
                    </div>
                </div>
             {/volist}
                <center>{$page}</center>
            </div>
        </div>
    </div>
    <div class="cabinet_head">
        <div>
            <label>入住商城</label>
            <p>申请入驻</p>
            <span>BEST</span>
            <small class="vip_rank">
                我的会员等级：
                <small>
                    {switch name = "$user_info.level"}
                        {case value = "1"}
                            普通会员
                        {/case}
                        {case value = "2"}
                            县代
                            <img src="__IMG__/moon.png">
                        {/case}
                        {case value = "3"}
                            市代
                            <img src="__IMG__/moon.png">
                            <img src="__IMG__/moon.png">
                        {/case}
                        {case value = "4"}
                            省代
                            <img src="__IMG__/moon.png">
                            <img src="__IMG__/moon.png">
                            <img src="__IMG__/moon.png">
                        {/case}
                        {case value = "5"}
                            董事
                            <img src="__IMG__/sun.png">
                        {/case}
                        {default}
                            普通会员
                    {/switch}
                </small>
            </small>
        </div>
        <span>县代以上才能成为商家哦</span>
    </div>
    <div class="enter_store">
        <ul class="com_detail">
            <li>
                <div>
                    <p>公司法人：</p>
                    <input id='contact' type="text" name="contact" placeholder="请填写公司法人">
                </div>
            </li>
            <li>
                <div>
                    <p>法人证件：</p>
                    <input id='contact_file' type="number" name="contact_file" placeholder="请填写法人身份证号">
                </div>
            </li>
            <li>
                <div>
                    <p>经营范围：</p>
                    <input id='business' type="text" name="business" placeholder="请填写经营范围">
                </div>
            </li>
            <li>
                <div>
                    <p>联系电话：</p>
                    <input id='tel' type="number" name="tel" placeholder="请填写手机号码">
                </div>
            </li>
            <li id="com_address">
                <div>
                    <p>公司详细地址</p>
                    <input id='address' type="text" name="address" placeholder="请填写详细地址">
                </div>
            </li>
        </ul>
        <div class="up_permit">
            <p>请上传营业执照：</p>
            <div class="permit">
                <div class="file_up" id='upload'>
                    <input id='license' type="hidden" name="license" class="fileInput" />
                    <img src="__IMG__/up.png" class="up_img">
                    <img src="" id="frontImg">
                </div>
                <span>上传营业执照</span>
            </div>
            <input id='uid' type='hidden' name='uid' value='{$uid}' />
            <button type="button" onclick="apply_for()">提交申请</button>
        </div>
    </div>
</main>

{include file='common/bottom'}
<script type="text/javascript" src="__JS__/jquery.min.js" ></script>
<script type="text/javascript" src="__JS__/bootstrap.min.js" ></script>
<script type="text/javascript" src="__LAYUI__/layui.js"></script>
<script type="text/javascript" src="__JS__/common.js" ></script>
<script type="text/javascript" src="__JS__/store.js"></script>
<script type="text/javascript" src="__JS__/userCenter.js"></script>
<script>
    setNav(1);
</script>

<script type="text/javascript" src="__JS__/layer/layer.js"></script>
<link rel="stylesheet" href="__LAYUI__/css/layui.css" media="all">
<script type="text/javascript" src="__LAYUI__/layui.js"></script>
<script type='text/javascript'>
// 上传营业执照
layui.use('upload', function(){
  var upload = layui.upload;
  var uid = $('#uid').val();
  //执行实例
  var uploadInst = upload.render({
    elem: '#upload' //绑定元素
    ,url: "{:url('User/upload')}" //上传接口
    ,data: {type: 'license',uid:uid}
    ,done: function(res){
      // console.log(res)
      //上传完毕回调
      if(res.code == 0){
        layer.msg(res.msg, {icon: res.code,time: 1500});
      }else{
        //返回路径
        $("input[name=license]").val(res.url);
        //给IMG返回路径
        $('.up_img').hide();
        $('#frontImg').show();
        $("#frontImg").attr("src",res.url)
        layer.msg(res.msg, {icon: res.code,time: 1500});
      }
    }
  });
});

//提交申请
function apply_for() {
    var data = {
    	uid:$('#uid').val(),
    	contact:$('#contact').val(),
    	contact_file:$('#contact_file').val(),
    	business:$('#business').val(),
    	tel:$('#tel').val(),
    	address:$('#address').val(),
    	license:$('#license').val()
    }
	$.ajax({
		type:'post',
		url:'{:url("user/usercenter")}',
		data:data,
		success:function(ret){
			if(ret.code === 0){
				if(ret.url){
        			layer.alert(ret.msg,{icon:1500},function(){
        				location.href = ret.url;
        			});
				}else{
					layer.alert(ret.msg);
				}
			}else{
				layer.msg(ret.msg,{icon:ret.code,time:1500},function(){
					location.href = self.location.href;
				});
			}
		}
	});
}
</script>


