{include file='common/userTop'}
<link rel="stylesheet" href="__CSS__/wallet.css">
<!--内容-->
<main class="main">
    <div class="main_box">
        <div class="main_left">
            <!--左侧用户信息&左侧会员中心导航栏-->
            {include file='common/userMenu'}
        </div>

        <div class="main_right">
            <p class="vip_hint">钱包（请妥善保管您的资金）：</p>
            <div class="wallet_box">
                <span>总积分：</span>
                <span class="wallet_num">{$wallet.user_frozen_bonus}</span>
                <small>（包含冻结区、解冻区积分）</small>
            </div>
            <div class="wallet_box">
                <span>已解冻积分：</span>
                <span class="wallet_num">{$wallet.user_all_bonus}</span>
            </div>
            {volist name='wallet.voucher' id='vo'}
            	{eq name='$vo.is_sell' value='1'}
		            <div class="walletBox">
		                <div class="wallet_box">
		                    <span>{$vo.name}：</span>
		                    <span class="wallet_num">{$vo.number}张</span>
		                </div>
		                <button type="button" onclick="buy_tip({$vo.id})">去购买</button>
		            </div>
		        {else/}
		        	<div class="wallet_box">
		                <span>{$vo.name}：</span>
		                <span class="wallet_num">{$vo.number}</span>
		            </div>
		        {/eq}
            {/volist}
            <div class="wallet_box">
                <span>静态积分总收入</span>
                <span class="wallet_num">{$bouns_in_outcome['bouns_income']}</span>
            </div>
            <div class="wallet_box">
                <span>静态积分总支出</span>
                <span class="wallet_num">{$bouns_in_outcome['bouns_withdraw']}</span>
            </div>
        </div>
    </div>
</main>

{include file='common/bottom'}
<script>
    vipNav(0)
</script>

